In [1]:
from sklearn.preprocessing import StandardScaler
data = [[0, 61], [0, 62], [1, 63], [1, 64]]
s = StandardScaler()
s.fit(data)
print(s.transform(data))

[[-1.         -1.34164079]
 [-1.         -0.4472136 ]
 [ 1.          0.4472136 ]
 [ 1.          1.34164079]]

In [2]:
#transform a column in csv
import pandas as pd
cardio_data=pd.read_csv('cardiocleaned.csv')
print(cardio_data.shape)
cardio_data.head(3)

(67746, 14)

,Unnamed: 0,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,0,18393,male,168,62.0,110,80,c1_average,g1_average,0,0,1,0
1,1,1,20228,female,156,85.0,140,90,c3_high,g1_average,0,0,1,1
2,2,2,18857,female,165,64.0,130,70,c3_high,g1_average,0,0,0,1

In [3]:
scaler = StandardScaler()
scaler.fit(cardio_data[['height','weight']][0:3]) # default row-wise normalizer
y = scaler.transform(cardio_data[['height','weight']][0:3])
print(y)

[[ 0.98058068 -0.80105167]
 [-1.37281295  1.40985094]
 [ 0.39223227 -0.60879927]]

In [6]:
y.ndim

2