In [1]:
from sklearn.preprocessing import Normalizer
X = [[4, 1, 2, 2],[1, 3, 9, 3],[5, 7, 5, 1]]
scaler = Normalizer()
scaler.fit(X)
print(scaler.transform(X))

[[0.8 0.2 0.4 0.4]
 [0.1 0.3 0.9 0.3]
 [0.5 0.7 0.5 0.1]]

In [10]:
#transform a column in csv
import pandas as pd
cardio_data=pd.read_csv('cardiocleaned.csv')
print(cardio_data.shape)
cardio_data.head(3)

(67746, 14)

,Unnamed: 0,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,0,18393,male,168,62.0,110,80,c1_average,g1_average,0,0,1,0
1,1,1,20228,female,156,85.0,140,90,c3_high,g1_average,0,0,1,1
2,2,2,18857,female,165,64.0,130,70,c3_high,g1_average,0,0,0,1

In [22]:
scaler = Normalizer()
scaler.fit(cardio_data[['height','weight']][0:3]) # default row-wise normalizer
y = scaler.transform(cardio_data[['height','weight']][0:3])
print(y)

[[0.93815229 0.34622287]
 [0.8781106  0.4784577 ]
 [0.93232243 0.3616281 ]]

In [18]:
from sklearn.preprocessing import normalize
X2 = normalize(cardio_data[['height','weight']][0:3], axis=0)#axis=0 for column-wise

In [19]:
X2

array([[0.59476946, 0.50346639],
       [0.55228592, 0.69023618],
       [0.58414857, 0.51970724]])