In [1]:
from sklearn.preprocessing import MinMaxScaler
data = [[-1, 2], [-0.5, 6], [0, 10], [1, 18]]
scaler = MinMaxScaler()
scaler.fit(data)
print(scaler.transform(data))

[[0.   0.  ]
 [0.25 0.25]
 [0.5  0.5 ]
 [1.   1.  ]]

In [30]:
#transform a column in csv
import pandas as pd
cardio_data=pd.read_csv('cardiocleaned.csv')
print(cardio_data.shape)
cardio_data.head()

(67746, 14)

,Unnamed: 0,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,0,18393,male,168,62.0,110,80,c1_average,g1_average,0,0,1,0
1,1,1,20228,female,156,85.0,140,90,c3_high,g1_average,0,0,1,1
2,2,2,18857,female,165,64.0,130,70,c3_high,g1_average,0,0,0,1
3,3,3,17623,male,169,82.0,150,100,c1_average,g1_average,0,0,1,1
4,4,4,17474,female,156,56.0,100,60,c1_average,g1_average,0,0,0,0

In [34]:
scaler = MinMaxScaler()
scaler.fit(cardio_data['height'].values.reshape(-1, 1))
scaler.transform(cardio_data['height'].values.reshape(-1, 1))

array([[0.36923077],
       [0.27692308],
       [0.34615385],
       ...,
       [0.48461538],
       [0.33076923],
       [0.38461538]])

In [32]:
cardio_data.head()

,Unnamed: 0,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,0,18393,male,168,62.0,110,80,c1_average,g1_average,0,0,1,0
1,1,1,20228,female,156,85.0,140,90,c3_high,g1_average,0,0,1,1
2,2,2,18857,female,165,64.0,130,70,c3_high,g1_average,0,0,0,1
3,3,3,17623,male,169,82.0,150,100,c1_average,g1_average,0,0,1,1
4,4,4,17474,female,156,56.0,100,60,c1_average,g1_average,0,0,0,0

In [18]:
max(cardio_data['height'])

250

In [19]:
min(cardio_data['height'])

120

In [22]:
(cardio_data['height'][0]-min(cardio_data['height']))/(max(cardio_data['height'])-min(cardio_data['height']))

0.36923076923076925