# CountVectorizer

In [6]:
import pandas as pd
my = {"house size": [1200, 1300, 1250, 1400, 1100], "location": ['bombay', 'delhi', 'chennai', 'bombay', 'delhi']}
#print(my)
my_df = pd.DataFrame(data=my)
#print(my_df)
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer() #using countvectorizer
vectorizer.fit(my_df['location'].values)
x=vectorizer.transform(my_df['location'].values)
print(x)
print(vectorizer.get_feature_names())#get the different category names for a column
print(x.toarray())


#enc_df = pd.DataFrame(x.toarray())
#print(enc_df)
# merge with main df my_df on key values
#my_df = my_df.join(enc_df)
#my_df

  (0, 0)	1
  (1, 2)	1
  (2, 1)	1
  (3, 0)	1
  (4, 2)	1
['bombay', 'chennai', 'delhi']
[[1 0 0]
 [0 0 1]
 [0 1 0]
 [1 0 0]
 [0 0 1]]

In [3]:
#transform a column in csv
import pandas as pd
cardio_data=pd.read_csv('cardiocleaned.csv')
print(cardio_data.shape)
cardio_data.head(3)

(67746, 14)

,Unnamed: 0,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,0,18393,male,168,62.0,110,80,c1_average,g1_average,0,0,1,0
1,1,1,20228,female,156,85.0,140,90,c3_high,g1_average,0,0,1,1
2,2,2,18857,female,165,64.0,130,70,c3_high,g1_average,0,0,0,1

In [7]:
vectorizer = CountVectorizer() #using countvectorizer
vectorizer.fit(cardio_data['gender'].values[0:3])
x=vectorizer.transform(cardio_data['gender'].values[0:3])
print(x)
print(vectorizer.get_feature_names())
print(x.toarray())

  (0, 1)	1
  (1, 0)	1
  (2, 0)	1
['female', 'male']
[[0 1]
 [1 0]
 [1 0]]